/* 
 * The appearance of the nav based on the following rules. The navbar should:\
 * 1. Be fixed to the top. 
 * 2. Be 120 pixels in height
 * 3. Be full width of the viewport.
 * 4. Have a z-index that means the nav will always be stacked on top
 * 5. Have #4056A1 as its default background colour.
 * 6. Have #FFFFF as its default font colour
 * 7. The <span> within the <nav> has Bungee as it's default font-family
 * 8. The inner content should remain 1.5ems away from all edges
 */

nav {
  position: fixed;
  height: 120px;
  width: 100%;
  z-index: 1024;  
  padding: 1.5em;
}

div.left_title {
    width: 30%;
    float: left;
}

/* TWEETER title */
span.app_title {
    font-family: 'Bungee', cursive, sans-serif;
    font-size: 2.5em;
    color: #FFFFF0;
    font-weight: bold;
}

/* top-right corner nav container */
div.right_title {
    /* width: fit-content; 
    height: fit-content; */
    /* display: inline-block; */
    color: #FFFFF0;
    float: right;
}

/* write a new tweeter */
div.new_post {
    text-align: right;
    /* height: fit-content;
    width: fit-content; */
    font-family: 'Source Sans Pro', sans-serif;
}

div.toogle_composer {
    text-align: center; 
    height: 50px;
    position:relative;
    -webkit-animation: webmove 1.5s infinite;
}

button.toogle_composer {
    background-color: transparent;
    border:0px; 
    color: yellow;
    margin: 0px; 
    border-color: transparent;
    outline: none;
}

@-webkit-keyframes webmove{ 
	from {top:25px;}
	to {top: 0px;}
}
