/*
 * This .css styles the new tweet composer elements. The tweet composer consists of:
 *    - A out container box with the following elements inside a form:
 *           1, a input textarea element
 *           2, a "TWEET" button 
 *           3, a counter displaying characters user inputs in the textares
 * 
 * The tweet validation message styles is also implemented in this file.
 */

/* tweet-composer container box */
section.new-tweet {
    font-weight: bold;
    margin-bottom: 10px;
}

/* tweet post form */
form {
    display: flex;
    flex-direction: column;
}

/* User Input TextArea */
textarea.tweet-input {
    outline: none;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 3px solid #000;  /* keep the bottom only */

    background-color: #f4f1ec;
}

/* this box contains a 'TWEET' button and a character counter */
div.action-box {
    display: flex;    
    flex-direction: row;
    justify-content: space-between;   
    align-items: center; 
    padding: 0.5%;
}

/* "TWEET" BUTTON: a btton in form used to submit tweet */
input.post-button {
    height: 2.0em;
    line-height: 2.0em;

    font-family: 'Bungee', cursive, sans-serif;
    font-weight: normal;
    color: white;
    background-color: #4939A3    
}

/* characters counter */
span.chars-counter {
    font-family: 'Bungee', cursive, sans-serif;
    font-weight: normal;
    font-size: 1.25em;
}

/* User input validation error message styles */
span.error-msg {
    color: red;
    border: 2px solid red;

    font-weight: normal;
    font-size: bold;
    
    padding: 1em;
    margin-bottom: 20px;
    text-align: center;

    display: flex;
    flex-direction: row;
    justify-content: space-between; 
}

