/*
 * This css is for the posting new tweet elements.
 */

/* tweet-composer */
section.new-tweet {
    font-weight: bold;
    margin-bottom: 10px;
    display: inline-block;
    width: 90%;
}

/* User Input TextArea */
textarea.tweet-input {
    outline: none;
    border-bottom: 3px solid #000;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    width: 100%;
    background-color: #f4f1ec;
}

/* TWEET BUTTON */
input.button {
    float: left;
    font-weight: normal;
    color: white;
    font-family: 'Bungee', cursive, sans-serif;
    background-color: #4939A3
}

span.counter {
    font-family: 'Bungee', cursive, sans-serif;
    font-weight: normal;
    font-size: 1.25em;
    float: right;    
}

span.error-msg {
    color: red;
    border: 2px solid red;
    display: block;
    font-weight: normal;
    text-align: left;
    font-size: bold;
    padding: 5px;
    margin-bottom: 20px;
}


span.round_button {
  height: 2.5em;
  width: 2.5em;
  color: white;  
  text-align: center;
  background-color: red;
  border-radius: 50%;
  display: inline-block;
  position: fixed;
  right: 0%;
  bottom: 2%;
}